<footer>
    <div id="footer">
        <p>&copy; 2025 Travlr Getaways. All rights reserved.</p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/travel">Destinations</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>
